body {
    font-family: 'Roboto', sans-serif;
    background-color: #f0f0f0;
    padding: 20px;
  }
  
  h2 {
    color: #333;
    font-family: 'Roboto', sans-serif;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
  }
  
  table th, table td {
    border: 1px solid #ccc;
    padding: 10px;
  }
  
  table th {
    background-color: #f5f5f5;
  }
  
  ul, ol, dl {
    margin-bottom: 20px;
  }
  
  ul, ol {
    margin-left: 20px;
  }
  
  dl {
    margin-left: 40px;
  }
  
  ul li, ol li {
    margin-bottom: 5px;
  }
  
  dl dt {
    font-weight: bold;
  }
  
  dl dd {
    margin-left: 10px;
  }
  p{
    color: #2F4F4F;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
  }
  
  .myButton {
    box-shadow: 0px 10px 14px -7px #276873;
    background:linear-gradient(to bottom,#0d0d0d 15%,#778899 100%);
    background-color:#9ACD32;
    border-radius:8px;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:'Roboto', sans-serif;;
    font-size:18px;
    font-weight:bold;
    padding:13px 32px;
    text-decoration:none;
    text-shadow:0px 1px 0px #3d768a;
  }
  .myButton:hover {
    background:linear-gradient(to bottom, #408c99 5%#9ACD32 100%);
    background-color:#9ACD32;
  }
  .myButton:active {
    position:relative;
    top:1px;
  }